.App {
  height: 100vh;
  background: #93A8AC
}

.Input {
  height: 40px;
  font-size: 20px;
  margin-left: 40px;
  margin-top: 20px;
}

.List {
  list-style-type: none;
  margin-bottom: 14px;
}

.Link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.Link:visited {
  text-decoration: none;
  color: purple;
}

.Link:hover {
  color: ivory;
}
